.caixa{
    position: relative;
    width: 940px;
    margin: 0 20% auto;
}

.home{   
    margin: 20px 0 5px 125px;
    display: inline-block;
    vertical-align: 60%;
    color: #A0AA60;
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 50px;
}

.user{
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 15px;
}

#cadastro{
    margin-left: 912px;
    vertical-align: text-bottom;
}

#cadastro input{
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 0;
    background-color: #A0AA60;
    border-radius: 50px;
}

#cadastro input:hover{
    cursor: pointer;
}

#icone-pesquisa{
    position: absolute;
    margin: 12px;
}

.barraDePesquisa{
    width: 1175px;
    margin: 0 7% auto;
    padding: 50px 0;

}
.barraDePesquisa form {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 580px 0 1.5%;
}

.barraDePesquisa fieldset {
    display: inline-block;
    vertical-align: bottom;
}

select, input{
    width: 280px;
    height: 45px;
    font-size: 16px;
    border-radius: 7px;
    padding: 8px;
}

input{
    padding-left: 42px;
}


.tituloComida{
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 12px 0 30px;
    max-height: 18px;
}

.preco{
    font-size: 18px;
    color: #BFBF5E;
    font-weight: bold;
    margin-block: 18px auto;
    text-align: left;
    font-family: arial;
}

.bordaItem{
    width: 1175px;
    margin: 0 7% auto;
    padding: 50px 0;
}

.bordaItem li{
    display: inline-block;
    position: relative;
    width: 255px;
    height: 370px;
    margin: 45px 1.5%;
    border: inset;
    padding: 20px;
    box-sizing: border-box;
    max-inline-size: 285px;
    vertical-align: top;
    border-radius: 20px;
    transition: 1s all;
    box-shadow: 15px 15px 15px #d56b1d;
}

.bordaItem li a{
    text-decoration: none;
    color: black;
}

.bordaItem li:hover{
    border: 2px solid;
    cursor: pointer;
    transform: scale(1.05);
}

.bordaItem-descricao{
    box-sizing: border-box;
    height: 95px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    line-height: 17px;
}

.menu{
    width: 100%;
    height: 130px;
    max-width: 210px;
}

nav li{
    display: inline;
    font-size: 20px;
    padding-inline: 60px;
    font-family: sans-serif;
    border-inline-end: 2px solid;
    cursor: pointer;
}




/* .bloco{
    background-color: limegreen;
    border-block-start: 5px solid;
    padding: 30px;
} */

.pagSumario{
    color: #58692E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 22px;
    padding-right: 300px;
    padding-block-end: 25px;
}
.sumario{
    color: #A0AA60;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: top;
}

.sumario li{
    padding-block: 6px;
    transition: 1s all;
}

.sumario a:hover{
    text-decoration: underline;
    font-size: larger;
    transition: 0.3s all;
}

strong{
    font-weight: bold;
}
.sumario li a{
    color: #A0AA60;
    text-decoration: none;
}

#logoFinal{
    width: 40px;
    padding-right: 25px;
    padding-bottom: 40px;
    vertical-align: middle;
}

footer{
    background: url("../static/fotos/rodape.jpg");
    border-block-start: 5px solid;
    padding: 30px;
}

footer div{
    margin-block-end: 20px;
}

#copyright{
    border-top: 5px solid;
    margin: 0 40% auto;
    padding-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #58692E;
    font-weight: 600;

}

@media screen and (max-width: 480px) {
    .bordaItem, select, input{
        width: auto;
    }

    .home, .bordaItem, select, input{
        text-align: center;
        margin: 0;
        display: block;
    }
}