#botaohome{
    width: 50px;
    margin-left: 5%;
    margin-right: 10px;
}

header{
    padding-bottom: 50px;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 20% auto;
}

.home{   
    display: inline-block;
    vertical-align: 60%;
    color: forestgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 50px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

label, legend{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    margin: 10px 0;
}

div input, div textarea, select{
    border-radius: 8px;
    display: block;
    font-size: 16px;
    margin-block-end: 25px;
    padding: 10px 15px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

#botaoenviar{
    display: block;
    width: 25%;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #93C145;
    color: white;
    font-weight: bold;
    margin: 20px 0;
    border-radius: 8px;
    margin-block-end: 25px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
}

#botaoenviar:hover{
    border: 2px solid black;
    background-color: green;
    transition: 1s;
}

.checkbox{
    display: inline-block;
    margin: 0 12px 0 0;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
/* 
select{
    width: 25px;
} */

.sumario a:hover{
    text-decoration: underline;
    font-size: larger;
    transition: 0.3s all;
}

/* .bloco{
    background-color: limegreen;
    border-block-start: 5px solid;
    padding: 30px;
} */

.pagSumario{
    color: forestgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 22px;
    padding-right: 300px;
    padding-block-end: 25px;
}
.sumario{
    color: #93C145;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: top;
}

.sumario li{
    padding-block: 6px;
}

strong{
    font-weight: bold;
}
li a{
    color: #93C145;
    text-decoration: none;
}

#logoFinal{
    width: 40px;
    padding-right: 25px;
    padding-bottom: 40px;
    vertical-align: middle;
}

footer{
    background: url("../static/fotos/rodape.jpg");
    border-block-start: 5px solid;
    padding: 30px;
}

footer div{
    margin-block-end: 20px;
}

#copyright{
    border-top: 5px solid;
    margin: 0 40% auto;
    padding-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: forestgreen;
    font-weight: 600;

}