
#botaohome{
    width: 50px;
    margin-left: 5%;
    margin-right: 10px;
}

header{
    padding-bottom: 50px;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 20% auto;
}

.home{   
    display: inline-block;
    vertical-align: 60%;
    color: forestgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 50px;
}

.tituloComida{
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 12px auto;
}

.preco{
    font-size: 20px;
    color: yellowgreen;
    font-weight: bold;
    margin-block: 10px auto;    
    text-align: left;
}

.bordaItem{
    width: 850px;
    margin: 0 20% auto;
    padding: 50px 0;
}

.bordaItem li{
    display: inline-block;
    position: relative;
    width: 255px;
    height: 350px;
    margin: 45px 1.5%;
    border: inset;
    padding: 20px;
    box-sizing: border-box;
    max-inline-size: 285px;
    vertical-align: top;
    border-radius: 20px;
}

.bordaItem li:hover{
    border: 2px solid;
}

.bordaItem-descricao{
    box-sizing: border-box;
    height: 95px;
}

.menu{
    width: 100%;
    height: 130px;
    max-width: 210px;
}

nav li{
    display: inline;
    font-size: 20px;
    padding-inline: 60px;
    font-family: sans-serif;
    border-inline-end: 2px solid;
}

.sumario a:hover{
    text-decoration: underline;
    font-size: larger;
}

/* .bloco{
    background-color: limegreen;
    border-block-start: 5px solid;
    padding: 30px;
} */

.pagSumario{
    color: forestgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 22px;
    padding-right: 300px;
    padding-block-end: 25px;
}
.sumario{
    color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: top;
}

.sumario li{
    padding-block: 6px;
}

strong{
    font-weight: bold;
}
li a{
    color: yellowgreen;
    text-decoration: none;
}

#logoFinal{
    width: 40px;
    padding-right: 25px;
    padding-bottom: 40px;
    vertical-align: middle;
}

footer{
    background: url("../static/fotos/rodape.jpg");
    border-block-start: 5px solid;
    padding: 30px;
}

footer div{
    margin-block-end: 20px;
}

#copyright{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: forestgreen;
    font-weight: 600;

}