<!DOCTYPE html>

<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <title>Cadastro | Veggod</title>
        <link rel="stylesheet" href="../static/reset.css">
        <link rel="stylesheet" href="../static/style.css">   
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
    </head>

    <body>
        <header style="padding-top: 40px;">    
            <a href="index.html">
                <h2 class="home">Veggood | Cadastro</h2>
            </a>
        </header>
        <div>
            <img id="banner" src="../static/fotos/banner.jpg">
            <h1>Sobre nós</h1>    
            <div><h1>Usuário Cadastrado com sucesso</h1>    
                <div class="paragrafo"><a href="index.html">Voltar a página inicial</a>
                    <p> .</p>
                    <p> .</p>
                    <p> .</p>
                    <p> .</p>
                </div>
        </div>
        <footer>
            <div>
                <ul class="sumario">
                    <p class="pagSumario">Veggood</p>
                    <li><strong><a href="index.html">Home</a></strong></li>
                    <li><strong><a href="contato.html">Contato</a></strong></li>
                    <li><strong>Política de privacidade</strong></li>
                    <li><strong><a href="quemsomos.html">Quem somos</a></strong></li>
                </ul>
                <ul class="sumario">
                    <p class="pagSumario">Social</p>
                    
                    <a href="https://www.facebook.com/somoseSales/"><img id="logoFinal" src="../static/fotos/facebook_logo.png"></a>
                    <a href="https://www.instagram.com/somosesales/"><img id="logoFinal" src="../static/fotos/insta_logo.png"></a>
                    <img id="logoFinal" src="../static/fotos/twitter_logo.png">
                    <a href="https://www.linkedin.com/company/somosesales/mycompany/"><img id="logoFinal" src="../static/fotos/linkedin.png"></a>
                </ul>

            </div>

            <div>
                <ul>
                    <p class="pagSumario">Formas de pagamento</p>
                    <img id="logoFinal" src="../static/fotos/mastercard.png">
                    <img id="logoFinal" src="../static/fotos/alelo-logo.png">
                    <img id="logoFinal" src="../static/fotos/visa_logo.png">
                    <img id="logoFinal" src="../static/fotos/ticket-logo.png">
                    
                </ul>
            </div>
            <p id="copyright">&copy Copyright eSales 2022</p>
        </footer>
    </body>

</html>
    