<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro | Veggood</title>

        <link rel="stylesheet" href="../static/reset.css">
        <link rel="stylesheet" href="../static/cadastro.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
    </head>

    <body>
        <header style="padding-top: 40px;">    
            <a href="index.html">
                <h2 class="home">Veggood | Cadastro</h2>
            </a>
        </header>
        
        <img id="banner" src="../static/fotos/banner.jpg">
            
        <main>
            <p>Vamos lá, é rapidinho!</p>
            <form>
                <div>
                    <label for="nomesobrenome">Nome e Sobrenome</label>
                    <input type="text" id="nomesobrenome" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" required>

                    <label for="telefone">Telefone</label>
                    <input type="tel" id="telefone" required placeholder="(__) _____-____">
                </div>
                <div class="cad-endereco">
                    <label for="CEP">CEP
                        <input type="text" id="CEP" maxlength="8" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                        required placeholder="_____-___">
                    </label>
                    <label for="endereco">Endereço
                        <input type="text" id="endereco" required>
                    </label>
                    <label>Número
                        <input type="text" id="numero">
                    </label>

                    <fieldset>
                        <legend>UF</legend>
                        <select>
                            <option>AC</option><option>AL</option><option>AM</option>
                            <option>BA</option><option>CE</option><option>DF</option>
                            <option>ES</option><option>GO</option><option>MA</option>
                            <option>MT</option><option>MS</option><option>MG</option>
                            <option>PA</option><option>PB</option><option>PR</option>
                            <option>PE</option><option>PI</option><option>RJ</option>
                            <option>RN</option><option>RS</option><option>RO</option>
                            <option>RR</option><option>SC</option><option>SP</option>
                            <option>SE</option><option>TO</option>
                        </select>
                    </fieldset>

                    <label>Cidade
                        <input type="text" id="cidade">
                    </label>

                    <label>Complemento
                        <input type="text" id="complemento">
                    </label>

                </div>
                <a href="cadastro-concluido.html">
                    <input id="botaoenviar" type="submit" value="Prosseguir">
                </a>
            </form>
            
        </main>

        <footer>
            <div>
                <ul class="sumario">
                    <p class="pagSumario">Veggood</p>
                    <li><strong><a href="index.html">Home</a></strong></li>
                    <li><strong><a href="contato.html">Contato</a></strong></li>
                    <li><strong>Política de privacidade</strong></li>
                    <li><strong><a href="quemsomos.html">Quem somos</a></strong></li>
                </ul>
                <ul class="sumario">
                    <p class="pagSumario">Social</p>
                    
                    <a href="https://www.facebook.com/somoseSales/"><img id="logoFinal" src="../static/fotos/facebook_logo.png"></a>
                    <a href="https://www.instagram.com/somosesales/"><img id="logoFinal" src="../static/fotos/insta_logo.png"></a>
                    <img id="logoFinal" src="../static/fotos/twitter_logo.png">
                    <a href="https://www.linkedin.com/company/somosesales/mycompany/"><img id="logoFinal" src="../static/fotos/linkedin.png"></a>
                </ul>

            </div>

            <div>
                <ul>
                    <p class="pagSumario">Formas de pagamento</p>
                    <img id="logoFinal" src="../static/fotos/mastercard.png">
                    <img id="logoFinal" src="../static/fotos/alelo-logo.png">
                    <img id="logoFinal" src="../static/fotos/visa_logo.png">
                    <img id="logoFinal" src="../static/fotos/ticket-logo.png">
                    
                </ul>
            </div>
            <p id="copyright">&copy Copyright eSales 2022</p>
        </footer>
    </body>
</html>