<!DOCTYPE html>

<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <title>Veggood | Quem somos</title>
        <link rel="stylesheet" href="../static/reset.css">
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        <header style="padding-top: 40px;">    
            <a href="index.html"><img id="botaohome" src="../static/fotos/botao-home-png.png">
            <h2 class="home">| Veggood</h2></a>
        </header>
        <div>
            <img id="banner" src="../static/fotos/banner.jpg">
            <h1>Sobre nós</h1>    
            <div class="paragrafo">
                <p> O nosso app é destinado a pessoas Veganas, vegetarianas & interessadas, 
                    que tenham dificuldades em encontrar estabelecimentos de comidas veganas.
                </p>

                <p id="titulo"> O <strong>Veggood</strong> é um app exclusivamente de restaurantes vegetarianos e veganos 
                    que facilita em encontrar opções de restaurantes.
                </p>

                <p>Diferentemente do Ifood, o nosso produto tem 
                <em><strong> preços mais acessíveis para a comunidade veggie e tem maior variedade de produtos vegetais</strong></em></em></em></p>
            
                <p> .</p>
                <p> .</p>
                <p> .</p>
                <p> .</p>
                <p>Sede da empresa em Porto Alegre</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.1107077094293!2d-51.19739748488581!3d-30.004977381896715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951979ebffcc72e1%3A0x4496ffa789d4108f!2se-Sales!5e0!3m2!1spt-BR!2sbr!4v1650918530695!5m2!1spt-BR!2sbr" 
                width="80%" height="300" style="border:0;" allowfullscreen="" loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <footer>
            <div>
                <ul class="sumario">
                    <p class="pagSumario">Veggood</p>
                    <li><strong><a href="index.html">Home</a></strong></li>
                    <li><strong><a href="contato.html">Contato</a></strong></li>
                    <li><strong>Política de privacidade</strong></li>
                    <li><strong><a href="quemsomos.html">Quem somos</a></strong></li>
                </ul>
                <ul class="sumario">
                    <p class="pagSumario">Social</p>
                    
                    <a href="https://www.facebook.com/somoseSales/"><img id="logoFinal" src="../static/fotos/facebook_logo.png"></a>
                    <a href="https://www.instagram.com/somosesales/"><img id="logoFinal" src="../static/fotos/insta_logo.png"></a>
                    <img id="logoFinal" src="../static/fotos/twitter_logo.png">
                    <a href="https://www.linkedin.com/company/somosesales/mycompany/"><img id="logoFinal" src="../static/fotos/linkedin.png"></a>
                </ul>

            </div>

            <div>
                <ul>
                    <p class="pagSumario">Formas de pagamento</p>
                    <img id="logoFinal" src="../static/fotos/mastercard.png">
                    <img id="logoFinal" src="../static/fotos/alelo-logo.png">
                    <img id="logoFinal" src="../static/fotos/visa_logo.png">
                    <img id="logoFinal" src="../static/fotos/ticket-logo.png">
                    
                </ul>
            </div>
            <p id="copyright">&copy Copyright eSales 2022</p>
        </footer>
    </body>

</html>
    